@{
    Layout = "_Layout";
}
<style>
    .map-cate div {
        padding: 0
    }

    .map-cate img {
        width: 100%;
    }
</style>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/tops.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/bottoma.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Main/Category/ListProducts/Dresses">
                <img src="~/Images/Homepage/dresses.png" />
            </a>
        </div>
    </div>
</div>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/rompers.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/outerwear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/denim.png" />
            </a>
        </div>
    </div>
</div>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/loungewear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/activewear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/Homepage/swimwear.png" />
            </a>
        </div>
    </div>
</div>
